<div class="row">
    <div class="col-auto">

        <div class = "card-banner card-rounded">
            <div class="card-header display-flex justify-space-between align-center ">
                <h2>New Post</h2>
            </div>
            <div class="col-12">
                <form class="form" id="new-post">
                    <div class="form-group">
                        <label for="post-title">Title</label>
                        <input class="form-input" type="text" id="post-title" />
                    </div>
                    <div class="form-group">
                        <label for="post-content">Content</label>
                        <textarea name="content" form="new-post" class="form-input" type="text" id="post-content"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">+ post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/post.js"></script>